<?php

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        '@PSR2' => true,
        'ordered_imports' => true,
        'array_syntax' => ['syntax' => 'short'],
        'ordered_class_elements' => true,
        'phpdoc_order' => true,
        'phpdoc_separation' => true,
        'general_phpdoc_annotation_remove' => ['author', 'package'],
        'yoda_style' => [
            'equal' => false,
            'identical' => false,
        ],
    ])
;
